// Imports normalize.scss to keep default styling consistent across all browsers
@import "node_modules/normalize-scss/sass/normalize/_import-now.scss";
// Imports react-dd-menu styling; Will be overwritten with custom scss
@import "node_modules/react-dd-menu/src/scss/react-dd-menu.scss";

body {
    // This is just here to demonstrate scroll
    height: 1000px;
}

// Global Variables to reuse throughout app
$red: #da5347;
$white: #FFFFFF;

// NavBar
.Sticky {
    // Removes bullet points from list in Navbar
    ul { list-style: none;}
    // CSS for sticky class component
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    // CSS for NavBar
    &.navContainer {
        background: $red;
        padding: 20px;
        font-size: 18px;
        color: $white;
        li{display: inline;}
    }
    // DropdownMenu
    // Moves DropdownMenu to the right of the navBar
    .DDMenu {float: right;}
    // When user hovers cursor over element the pointer sign shows
    .DDMenu:hover {cursor: pointer;}
    // Makes the dropdown list more stylish
    .dd-menu .dd-menu-items ul {
        padding: 10px 20px;
        background-color: $red;
    }
    // Makes the dropdown items more stylish
    .dd-menu .dd-menu-items ul li {
        color: $white;
        display: inline-block;
    }
    // Background color will be red when user hover overs dropdown list
    .dd-menu .dd-menu-items ul li:hover {background-color: $red !important;}
}

// searchBar
.searchForm {
    margin: 5% 0;
    text-align: center;

    input[type='text']{
        margin-right: 1%;
        padding: 1%;
    }
    input[type='text']:focus{outline:0;}
    input[type='submit']{
        background-color: $red;
        color: $white;
        padding: 1%;
    }
    input[type='submit']:focus{outline:0;}
    input[type='submit']:hover{cursor: pointer;}
}

// Photos
.imagesContainer{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 2% 0;
    overflow: hidden;
    text-align: center;
    border-radius: 1%;
    .images{
        display: inline-block;
        vertical-align: middle;
        margin: 0 1% 1% 1%;
        .picViews{float: left;}
        .picRatings{float: right;}
    }
}
